##-----------------------------------------------------------------------------
#set( $dollar = '$' )
##-----------------------------------------------------------------------------
#macro( VAR $o )
_$o.name.toUpperCase()_#end
##-----------------------------------------------------------------------------
#macro( help $o )
#if( ! $o.help )
  #set( $o.help = $o.name )
#end
#if( $o.optional )[#end-$o.key $o.help#if( $o.optional )]#end
#end
##-----------------------------------------------------------------------------
#set( $commands = $files.file( "${basedir}/src/velocity/commands" ).listFiles() )
##-----------------------------------------------------------------------------
#foreach( $cmd in $commands )
  #if( $cmd.isFile() )
    #set( $mojo = $cmd.name )
    $generator.parse( "pax-command-sh.vm", "pax-${mojo}", "mojo", $mojo )
    $generator.parse( "pax-command-bat.vm", "pax-${mojo}.bat", "mojo", $mojo )
  #end
#end
##-----------------------------------------------------------------------------
