##-----------------------------------------------------------------------------
#set( $dollar = '$' )
##-----------------------------------------------------------------------------
#macro( VAR $o )
#if( $underscore )_$o.name.toUpperCase()_#else$o.name.toUpperCase()#end#end
##-----------------------------------------------------------------------------
#macro( help $o )
#if( ! $o.help )
  #set( $o.help = $o.name )
#end
#if( $o.optional )[#end-$o.key $o.help#if( $o.optional )]#end
#end
##-----------------------------------------------------------------------------
#macro( checkOptions )
#set( $required = false )
#set( $optional = false )
#foreach( $o in $opts )
#if( $o.optional )
  #set( $optional = true )
#else
  #set( $required = true )
#end
#end
#end
##-----------------------------------------------------------------------------
#set( $commands = $files.file( "src/velocity/commands" ).listFiles() )
##-----------------------------------------------------------------------------
#foreach( $cmd in $commands )
  #if( $cmd.isFile() )
    #set( $mojo = $cmd.name )
    #set( $underscore = false )
    $generator.parse( "pax-command-sh.vm", "pax-${mojo}", "mojo", $mojo )
    #set( $underscore = true )
    $generator.parse( "pax-command-bat.vm", "pax-${mojo}.bat", "mojo", $mojo )
  #end
#end
##-----------------------------------------------------------------------------
