##-----------------------------------------------------------------------------
#parse( "commands/${mojo}" )
##-----------------------------------------------------------------------------
@echo off
SETLOCAL
set _SCRIPTDIR_=%~dp0

if ""=="%PAX_CONSTRUCT_VERSION%" set PAX_CONSTRUCT_VERSION=${version}
set PAX_PLUGIN=org.ops4j:maven-pax-plugin:%PAX_CONSTRUCT_VERSION%

set _BATFILE_=%0
#foreach( $o in $opts )
set #VAR( $o )=
#end
set _OVERWRITE_=

shift

goto getopts
:shift_2
shift
:shift_1
shift

:getopts
#foreach( $o in $opts )
if "%0"=="-$o.key" set #VAR( $o )=%1
if "%0"=="-$o.key" goto shift_2
#end
if "%0"=="-o" set _OVERWRITE_=-Doverwrite
if "%0"=="-o" goto shift_1
if "%0"=="-h" goto help
if "%0"=="--" goto endopts
if "%0"=="" goto endopts

echo %_BATFILE_%: illegal option -- %0
:help
echo #help( $mojo $opts )

goto done
:endopts

shift

set _EXTRA_=%PAX_CONSTRUCT_OPTIONS% %_OVERWRITE_% %0 %1 %2 %3 %4 %5 %6 %7 %8 %9
#if( $opts )

#foreach( $o in $opts )
#if( ! $o.optional )
#set( $gap = true )
if ""=="%#VAR( $o )%" set PAX_PROMPT=true
#end
#end
#if( $gap )

#end
#foreach( $o in $opts )
#if( $o.example )
#set( $gap = true )
if ""=="%#VAR( $o )%" set #VAR( $o )=$o.example
#end
#end
#if( $gap )

#end
if ""=="%PAX_PROMPT%" goto skip_input
  echo
  echo #help( $mojo $opts )

  echo

#foreach( $o in $opts )
  set _INPUT_=
  set /p _INPUT_="$o.name (%#VAR( $o )%) ? "
  if not ""=="%_INPUT_%" set #VAR( $o )=%_INPUT_%

#end
  echo
:skip_input
#end

@echo on
mvn $!{maven} %PAX_PLUGIN%:${mojo}#foreach( $o in $opts ) -D$o.name=%#VAR( $o )%#end %_EXTRA_%
:done
##-----------------------------------------------------------------------------
