##-----------------------------------------------------------------------------
#parse( "commands/${mojo}" )
##-----------------------------------------------------------------------------
#!/bin/sh
_SCRIPTDIR_=`dirname "${dollar}0"`
. "${dollar}{_SCRIPTDIR_}/pax-validate"

if [ -z "${dollar}{PAX_CONSTRUCT_VERSION}" ]
then
  PAX_CONSTRUCT_VERSION=${version}
fi

PAX_PLUGIN=org.ops4j:maven-pax-plugin:${dollar}{PAX_CONSTRUCT_VERSION}

#foreach( $o in $opts )
unset #VAR( $o )

#end
unset _OVERWRITE_

while
  getopts #foreach( $o in $opts )$o.key:#end
oh- _SETTING_
do
  case ${dollar}{_SETTING_} in
    h|\?) echo "pax-${mojo}#foreach( $o in $opts ) #help( $o )#end [-o] [-- mvnOpts ...]" ; exit ;;

#foreach( $o in $opts )
    $o.key) #VAR( $o )=${dollar}{OPTARG} ;;
#end
    o) _OVERWRITE_=-Doverwrite ;;

    -) break ;;
  esac
done

shift ${dollar}((${dollar}{OPTIND}-1))
#if( $opts )

#set( $sep = 'if' )
#foreach( $o in $opts )
#if( ! $o.optional )$sep [ -z "${dollar}{#VAR( $o )}" ]#set( $sep = ' ||' )#end
#end
#if( $sep == ' ||' )

then
  PAX_PROMPT=true
fi

#end
#foreach( $o in $opts )
#if( $o.example )
#set( $gap = true )
#VAR( $o )=${dollar}{#VAR( $o ):-$o.example}
#end
#end
#if( $gap )

#end
if [ -n "${dollar}{PAX_PROMPT}" ]
then
  echo
  echo "pax-${mojo}#foreach( $o in $opts ) #help( $o )#end [-o] [-- mvnOpts ...]"
  echo

#foreach( $o in $opts )
  read -p "$o.name (${dollar}{#VAR( $o )}) ? " _INPUT_
  #VAR( $o )=${dollar}{_INPUT_:-${dollar}{#VAR( $o )}}

#end
  echo
fi
#end

mvn $!{maven} ${dollar}{PAX_PLUGIN}:${mojo} \
#foreach( $o in $opts )
  "-D$o.name=${dollar}{#VAR( $o )}" \
#end
  ${dollar}{PAX_CONSTRUCT_OPTIONS} ${dollar}{_OVERWRITE_} "${dollar}@"

##-----------------------------------------------------------------------------
