#bannerLeft {
  height: 78px;
  float: left;
}

#bannerRight {
  position:absolute;
  left:80px;
  top:20px;
}

#navcolumn h5 {
  font-size: medium;
  line-height: 2.0em;
}

#navcolumn li {
  font-size: small;
  padding-left: 10px;
}

#leftColumn {
  width: 182px;
}

